.wrapper {
  min-width: 320px;
  max-width: 800px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 40px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fff;
}

.chart-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 320px;
  @media screen and (min-width: 767px) {
    height: 320px;
  }
}

.bottom-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
  flex-direction: column-reverse;
  @media screen and (min-width: 767px) {
    flex-direction: row;
  }
}
