<form class="form-range">
  <div class="form-range__box">
    <div class="form-range__text">
      <label class="form-range__label" for="storage">Storage: </label>
      <p class="rangeValue"><span id="storageValue">500 </span> GB</p>
    </div>
    <input
      id="storage"
      class="range"
      type="range"
      step="1"
      min="0"
      max="1000"
      defaultValue="500"
      name="storage"
    />
  </div>
  <div class="form-range__box">
    <div class="form-range__text">
      <label class="form-range__label" for="transfer">Transfer:</label>
      <p class="rangeValue"><span id="transferValue">500 </span> GB</p>
    </div>
    <input
      id="transfer"
      class="range"
      type="range"
      step="1"
      min="0"
      max="1000"
      defaultValue="500"
      name="transfer"
    />
  </div>
</form>
