<section>
  <form>
    <label for="storage">Storage: </label>
    <input
      id="storage"
      type="range"
      step="1"
      min="0"
      max="1000"
      defaultValue="100"
      name="storage"
    />
    <!-- <output >0</output> -->
    <p><span id="storageValue">100 </span> GB</p>

    <label for="transfer">Transfer</label>
    <input
      id="transfer"
      type="range"
      step="1"
      min="0"
      max="1000"
      defaultValue="100"
      name="transfer"
    />
    <p><span id="transferValue">100 </span> GB</p>
    <!-- <output id="transferValue">0</output> -->
  </form>
</section>

<canvas id="myChart" style="width: 100%; max-width: 700px"></canvas>
