<div class="radio-options">
  <ul class="radio-options__list">
    <li class="radio-options__item">
      <img
        class="radio-options__logo"
        src="./images/backblaze_logo.png"
        alt="backblaze logo"
      />
    </li>

    <li class="bunnyRadioBtns radio-options__item">
      <div class="label-wrapper">
        <label for="hdd" class="hdd-radio">
          <input type="radio" name="bunny" id="hdd" value="hdd" checked />
          HDD</label
        >
        <label for="ssd">
          <input type="radio" name="bunny" id="ssd" value="ssd" />
          SSD</label
        >
      </div>
      <img
        class="radio-options__logo"
        src="./images/bunny_logo.png"
        alt="bunny logo"
      />
    </li>
    <li class="scalewayRadioBtns radio-options__item">
      <div class="label-wrapper">
        <label for="multi" class="multi-radio">
          <input
            type="radio"
            name="scaleway"
            id="multi"
            value="multi"
            checked
          />
          Multi</label
        ><label for="ssd">
          <input type="radio" name="scaleway" id="single" value="single" />
          Single
        </label>
      </div>
      <img
        class="radio-options__logo"
        src="./images/scaleway_logo.png"
        alt="scaleway logo"
      />
    </li>
    <li class="radio-options__item">
      <img
        class="radio-options__logo"
        src="./images/vultr_logo.png"
        alt="vultr logo"
      />
    </li>
  </ul>
</div>
